#community{
    background-color: #e5d1b8;
}

.community-title{
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    padding: 50px;
    color: #2b2129;
}

.community-text{
    text-align: center;
    padding: 50px;
}
.community-text p{
    font-size: 25px;
}